# Binaries
gdunit4-test-runner
gdunit4-test-runner.exe
dist/

# Go
*.test
*.out

# Local sandbox for manual testing
sandbox/

# Build artifacts
gdunit4-test-runner-linux-amd64
gdunit4-test-runner-windows-amd64.exe
